* {
  margin: 0;
  padding: 0;
}

/* header {
  background-color: red;
  color: white;
  padding: 1em;
  text-align: center;
} */

/* .headerTag {
  background-color: red;
  color: white;
  padding: 1em;
  text-align: center;
} */

/* #headerTag {
  background-color: red;
  color: white;
  padding: 1em;
  text-align: center;
} */

/* header nav {
  background-color: green;
  color: white;
  padding: 1em;
  text-align: center;
} */

/* .headerTag nav {
  background-color: green;
  color: white;
  padding: 1em;
  text-align: center;
} */

/* body {
  background-color: black;
}

#headerTag nav {
  background-color: green;
  color: white;
  padding: 1em;
  text-align: center;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

main {
  background-color: yellow;
}

footer {
  background-color: blue;
  color: white;
  padding: 1em;
  text-align: center;
} */

/* header,
main,
footer {
  background-color: red;
} */

/* main {
  background-color: red;
}

footer {
  background-color: red;
} */

/* main {
  color: blue; 
  color: rgb(0, 0, 255);
  color: #0000ff;
  border: 1px solid red;
} */

header {
  /* margin: 20px; */
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  /* padding: 20px; */
  /* border: 5px solid black; */
  /* padding-top: 20px; */
  /* padding-bottom: 20px; */
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  /* background-color: red; */
}

main {
  margin: 0;
  background-color: yellow;
}

footer {
  margin: 0;
  background-color: blue;
}

nav {
  /* padding: 10px; */
  /* background-color: green; */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  /* background-color: orange; */
}

nav ul li {
  display: inline;
  float: left;
  /* background-color: purple; */
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.signup {
  float: right;
  background-color: green;
}

.sectionOne {
  /* background-color: black; */
}
